.codeimg {
  display: flex;
  align-items: center;
  justify-content: center;
}
.code {
  width: 100%;
  object-fit: cover;
  border-radius: 14px;
}
@media (max-width: 576px) {
  .codeimg {
    display: none;
  }
}
@media (max-width: 768px) {
  .code {
    width: 70%;
  }
}
